
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Raleway&family=Rubik:wght@300&display=swap');

.background-green {
    background-color: rgb(0, 0, 0);
}
.logo{
width: 300px; 
height:auto    ; 
display: block;    
}
.background-black{
    background-color: rgb(0, 0, 0);
}
.inicio{
    color: rgb(224, 224, 224);
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    display: flex;
    font-family: 'Raleway', sans-serif;
}
.caja_uno{
    background-color: rgb(16, 16, 49);
    color: rgb(156, 79, 79);
    justify-content: center ;
    align-items: center ;
    padding-top: 50px;
    display: flex;
   padding-bottom: 50px;
   font-family: 'Raleway', sans-serif;
}
.contenedor-uno{
padding-left: 10%;
 padding-top: 25px;

   padding-bottom: 25px;
   font-family: 'Raleway', sans-serif;
}
.contenedor-dos{
    padding-left: 10%;
    padding-top: 25px;

   padding-bottom: 25px;
   font-family: 'Raleway', sans-serif;
}

.titulo{
font-size: 30px;
color:ivory; 
padding-bottom: 50px;
padding-top: 50px;
justify-content: center;
font-family: 'Raleway', sans-serif;

} 
a {
    text-decoration: none !important;
    }